let mapleader = " "
set scrolloff=5
set relativenumber

" Do incremental searching.
set incsearch
set hlsearch
set nu
set rnu
set showmode
" debug
nmap <F9> :action ToggleBreakpoint<CR>
" Don't use Ex mode, use Q for formatting.
map Q gq
nmap <Leader>ft :action Terminal<CR>
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>
nmap <Leader>cr :action RenameElement<CR>
" 映射快捷键：<Leader>gi 跳转到函数实现
nmap <Leader>gi :action GotoImplementation<CR>
nmap <Leader>gr :action GotoReference<CR>
" nnoremap <silent> <Leader>gi :action GotoImplementation<CR>
inoremap jk <ESC>
nmap <Leader>w :action AceAction<CR>
" nmap <Leader><Leader> :action RevealInProjectView<CR>
nnoremap <Leader>e :NERDTreeToggle<CR>
nnoremap <Leader>sv :NERDTreeMirror<CR>  " 使用水平分割打开
nnoremap <S-l> :tabn<CR>
nnoremap <S-h> :tabp<CR>
nnoremap <Leader>bd :tabclose<CR>
noremap <Leader>wd :action CloseAllEditors<CR>

map 1p "1p
map 2p "2p
map 3p "3p
map 4p "4p
map 5p "5p
map 6p "6p
map 8p "8p
map 9p "9p
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j
" 使用 <Leader>- 进行水平分割
noremap <Leader>- :action SplitHorizontally<CR>

" 使用 <Leader>| 进行垂直分割
noremap <Leader>\ :action SplitVertically<CR>

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" Commentary plugin
Plug 'tpope/vim-commentary'

" easymotion
Plug 'easymotion/vim-easymotion'
" easymotion keymap
" 单字符跳转
nmap <Leader>s <Plug>(easymotion-s2)
" 两字符跳转
nmap <Leader>f <Plug>(easymotion-f2)

" nerdtree
Plug 'preservim/nerdtree'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

set clipboard=unnamedplus
" 启用忽略大小写
set ignorecase
" 启用智能区分大小写
set smartcase
